#divForm{
    margin-top: 50px;
}


/* Estilo para el popup */
.modal {
    position: fixed;       
    bottom: 20px;           
    left: 1640px;           
    background-color: aqua;  
    color: #721c24;         
    border: 1px solid aqua; 
    border-radius: 5px;     
    padding: 15px;          
    font-size: 16px;        
    z-index: 1000;          
    display: none;         
    width: auto;            
    max-width: 300px;      
    word-wrap: break-word;  
    white-space: normal;    
}

/* Estilo para el contenido dentro del popup */
.modal-content {
    display: flex;           
    justify-content: space-between; 
    align-items: center;     
    padding: 10px;          
    height: auto;            
    text-align: center;      
}

/* Estilo para el botón de cerrar */
.close {
    background: none;
    border: none;
    color: #721c24;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* Color de fondo para el botón de cerrar al pasar el ratón */
.close:hover {
    color: #f5c6cb;
}

  
  